django>=5.0,<6.0
djangorestframework>=3.14,<4.0
razorpay>=1.4,<2.0
django-crispy-forms>=2.0,<3.0
crispy-bootstrap4>=2.0
Pillow>=10.0,<11.0
psycopg2-binary>=2.9,<3.0
python-dotenv>=1.0,<2.0
dj-database-url>=2.0,<3.0
gunicorn>=21.0,<22.0
whitenoise>=6.0,<7.0
